@import "tailwindcss";

@theme {
  --color-amazon-dark: #131921;     
  --color-amazon-light: #232F3E;     
  --color-amazon-primary: #F0C14B;   
  --color-amazon-primaryHover: #DDB347;
  --color-amazon-secondary: #FA8900;  
  --color-amazon-blue: #007185;     
  --color-amazon-background: #EAEDED;
  --color-amazon-text: #0F1111;      
}

body {
  background-color: var(--color-amazon-background);
  color: var(--color-amazon-text);
  font-family: "Amazon Ember", Arial, sans-serif;
}

.btn-amazon-primary {
  @apply w-full border border-yellow-600 rounded-md py-1 px-2 text-sm text-black shadow-sm cursor-pointer;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.btn-amazon-primary:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
  @apply ring-2 ring-yellow-500 border-yellow-500 outline-none;
}